extends layout 
 
block content 
  h1= title 
 
  form(id='DormForm', action="/resource/dorms", method="POST")
    div.form-group
        label.dormAttr(for='dorm_Name') Dorm Name
        input#dorm_Name(type='text', name='dorm_Name')
    div.form-group
        label.dormAttr(for='dorm_Type') Dorm dorm_Type
        input#dorm_Type(type='text', name='dorm_Type')
    div.form-group
        label.dormAttr(for='dorm_Cost') Dorm dorm_Cost
        input#dorm_Cost(type='number', name='dorm_Cost')
    input(type="submit")
 
  script. 
    document.forms['DormForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 