extends layout

block content
 if (!user)
  a(href="/login") Login
  br
  a(href="/register") Register
  br
 if (user)
  p You are currently logged in as #{user.username} 
  a(href="/dorm") Take me to dorms
  br
  a(href="/logout") Logout